*
{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.top_section img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
.top_section{
    width: 100%;
    background-color: #252525;
    padding-bottom: 50px;
}
.top_section span{
    font-size: 50px;
    font-weight: 900;
    color: #99d930;
}
.top_section h1{
    color: #fff;
    font-size: 33px;
    font-weight: 300;
    padding-top: 50px;
}
.about_section{
    background-color: #c7cecf;
    padding-top: 50px ;
    padding-bottom: 50px;

}
.about_section .web{
    position: relative;
    left: 30%;
    width: 200px;
    height: 100px;
}
.web span{
    color: #99D930;
    font-size: 28px;
    font-weight: 900;
}
.web h2{
    font-weight: 300;
}
.about_section p{
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.about_section button{
    border: none;
    color: #252525 ;
    background-color: #99D930;
    font-size: 15px;
}
.about_section button:hover{
     color: #fff ;
     background-color: #252525;
}
.end_section{
    background-color: #252525;
    padding-top: 20px;
        padding-bottom: 50px;
}
.end_section h2{
    color: #fff;
        padding-top: 50px;
}
.end_section span{
    font-size: 40px;
    font-weight: 900;
        color: #99d930;
}
.end_section .article{
    position: relative;
        left: 30%;
        width: 200px;
        height: 100px;
}
.article h2{
    padding: 0px;
    font-weight: 300;
}
.end_section h3{
    color: white;
    margin: 0px;
}
.end_section .wby{
    font-size: 12px;
    color: #99D930;

}
.end_section .pp{
    font-size: 14px;
    color: white;
}
.end_section a{
    color: #99D930;
}
.end_section button{
    border: none;
    background-color: #99D930;
    font-size: 16px;
}
